# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.log

# venv
.venv/
.venv_wsl/
venv/
env/

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# ML outputs
runs/
wandb/
mlruns/
outputs/
output/
checkpoints/
weights/
*.pt
*.pth
*.ckpt
*.onnx

# DATA: ничего из data не версионируем
data/**
!data/README.md
sku110k_small_v1_yolo.zip
sku110k_small_v1_tiled_yolo.zip
